.beacon-size{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;
	background-color: black;
}
.color-ratings{
	width: 20px;
	height: 20px;
    color: burlywood;
    text-align: center;
}
.color-list{
    position: absolute;
    list-style: none;
    top: 216px;
    left: 524px;
}
.popup {
    padding: 10px;
    background: #686564;
    border-radius: 5px;
    width: 14%;
    color: white;
    display: none;
    position: absolute;
}
.popup button{
    float: right;
    position: absolute;
    top: 5px;
    right: 0px;
}
.floor-img{
	width: 800px;
	height: 800px;
}
#region1{
    position: absolute;
    top: 336px;
    left: 261px;
}

#region2{
    position: absolute;
    top: 416px;
    left: 231px;
}

#region3{
    position: absolute;
    top: 416px;
    left: 289px;
}

#region4{
    position: absolute;
    top: 402px;
    left: 187px;
}

#region5{
  position: absolute;
  top: 416px;
  left: 331px;

}

#region6{
  position: absolute;
  top: 392px;
  left: 371px;

}

#region7{
    position: absolute;
    top: 515px;
    left: 372px;
}
.from-to{
    list-style: none;
    display: flex;
    position: absolute;
    top: 216px;
    left: 300px;    
}

.from-to li{
    margin-left: 5px;   
}